body {
  background-color: #ddd;
}

hr {
  border-top: 1px solid #000000
};
 
ul.pagination li.paginate_button {
  margin: 1px 3px;
}

div.menuButtons {
  float: right;
}

div.topRow {
  padding: 2px;
  background-color: #eee;
}

div.sourceRow {
  margin: 20px;
  width: 100%;
  display: block;
}

#addNewCode {
  float: right;
}

#newCode {
  width: 100%;
}

div.codeExampleBox li {
/*  margin-top: 5px;
  margin-bottom: 5px; */
}

div.codeExampleBox .rock-coding {
  cursor: default;
}

.addCodeButton {
  border: 0px;
  padding: 2px;
}

span.codeExampleOuter {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
}

div#codableSource {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #fff;
}

.rock-utterance {
  border-bottom: 1px dotted #aaa;
  cursor: crosshair;
  min-height: 1em;
}

.rock-coding {
  padding: 3px;
  border-radius: 3px;
  cursor: not-allowed;
}

.addCodeButton .rock-coding {
  cursor: crosshair;
}

.rock-uid {
  background-color: #eee;
  color : #aaa;
}

.rock-ciid {
  background-color: #c27fab;
  color : white;
}

.rock-treeCode {
  background-color: #457bb7;
  color : white;
}

.rock-codeValue {
  background-color: #dba42d;
  color : white;
}

.rock-networkCode {
  background-color: #c56a33;
  color : white;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  /* width: 100%; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  /* content: '\002B'; */
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  /* content: "\2212"; */
}

div.codeExampleBox {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 0px; 2px solid #999;
  color: #999;
  font-size: 80%;
}

.collapsibleContent {
  display: none;
  box-sizing: border-box;
  padding: 0 18px;
  max-height: 0
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.codingInfoButton {
  margin: 10px;
  font-size: 25px;
  display: inline;
  float: left;
}



